.navbar {
    background-color: var(--bg-navbar);
    padding: 10px;
    display: flex;
    gap: 20px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid var(--border-thin);
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-primary);

    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}


