.navbar {
    background-color: var(--bg-navbar);
    padding: 10px;
    display: flex;
    gap: 20px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: start;
    
    box-shadow: 0 5px 5px var(--hextech-gold-glow);
    border-bottom: 1px solid var(--hextech-gold);
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-primary);

    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.nav-link-right {
    margin-left: auto;
}

#Logo {
    height: 70px;
    display: block;
}

