.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.home-header {
    text-align: center;
    margin-top: 50px;

    h1 {
        font-size: 48px;
        color: var(--hextech-gold);
        text-shadow: 0 0 10px var(--hextech-gold-glow);
    }

    p {
        font-size: 18px;
        color: var(--text-secondary);
        margin-top: 10px;
    }
}

.search-player {
    background-color: var(--bg-input);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 30px;

    input {
        padding: 10px; 
        border: 1px solid var(--border-thin); 
        border-radius: 20px 0 0 20px;
        color: var(--hextech-gold);
        width: 300px;
        
    }

    button { 
        background-color: var(--hextech-gold); 
        color: white; 
        border: 1px solid var(--border-thin); 
        padding: 10px; 
        border-radius: 0 20px 20px 0; 
        cursor: pointer; 
    }

    button:hover { 
        background-color: var(--hextech-gold-dark); 
        transition: 0.3s ease-in-out;
    }
}