* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    color: var(--color-text-2);
}

:root {
    --color-text-1: #f0f2f5;
    --color-text-2: #f0f2f5;
    --background: #0a0e13;
    --nav-color: #05070a;
};

body {
    background-color: var(--background);
}